<html>
<head>
    <link rel="stylesheet" href="{{ asset('build/global.css') }}">
    <link rel="stylesheet" href="{{ asset('build/Logging/main.css') }}">
</head>
<body>
<div id="root"></div>
<script src="{{ asset('build/Logging/main.js') }}"></script>
</body>
</html>
